<!DOCTYPE html>
<html>

<!-- Load core scripts -->
<head>
  <title>RNA Sequence Converter</title>
  <script src="https://unpkg.com/vue"></script> <!-- Enable Vue -->
  <script src="http://thekerrlab.com/tmp/d3.v5.min.js"></script> <!-- Sciris dependency -- WARNING, will want to remove in future -->
  <script src="http://thekerrlab.com/tmp/mpld3.v0.4.1.min.js"></script> <!-- Sciris dependency -- WARNING, will want to remove in future -->
  <script src="https://unpkg.com/sciris-js/dist/sciris-js.js"></script> <!-- Enable Sciris -->
  <link rel="shortcut icon" href="#" />  <!-- To avoid the favicon.ico 404 -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- Enable Monserrat font -->
  <style>
    body {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
    }

    .app {
      padding: 20px;
      justify-content: center;
      display: flex;
    }

    .controls {
      display: inline-block;
      background-color: #f3f3f3;
      padding: 20px;
      border: solid 2px #aaa;
    }
  </style>
</head>


<!-- Define the layout -->
<body>
<div id="app" class="app">
  <div>
    <h1>RNA sequence converter</h1>
    <div class="controls">
      <h2>Use it at your own risk.</h2>
          <p>Email/slack/send a carrier pigeon to anastasia.kadina@synthego.com if you find any problems.</p>

      <h2>Convert an RNA sequence into a three letter sequence.</h2>
          <p>Enter a sequence below. Note: only ACGTU are accepted. All T's will be converted to U</p>

          <input v-model="sequence" placeholder="RNA sequence">

          <p>Standard RNA mods include 3 nucleotides at the 5'- and 3'-ends being thiophosphorylated and methylated.</p>
          <p>Currently we do not handle base modifications.</p>

          <p>Mods at the 5'-end: <input v-model="fiveend" placeholder="3">
          &nbsp&nbsp&nbsp&nbsp 3'-end: <input v-model="threeend" placeholder="3"></p>

          <p><button v-on:click="get_tls(); get_sequence_length();">Get my TLS</button></p>
          <p>Standard three letter sequence is:</p>
          <p>{{ tls }}</p>
          <p>{{ sequence_length }}</p>
     
     
      <h2>Additional modifications: replacement</h2>
      
          <p>Currently only single replacement is enabled</p>
          <p>Replace at: <input v-model="replacement_pos" placeholder="0">
          
          &nbsp&nbsp&nbsp&nbspWith nucleotide: <select v-model="replacement_base">
              <option disabled value="">Please select one</option>
              <option>A</option>
              <option>C</option>
              <option>G</option>
              <option>U</option>
              <option>X</option>
          </select></p>

          <p>
            <input type="radio" name = "r_twoprime" id="r_vanilla" value="r_vanilla" v-model="r_twoprime">
              <label for="r_vanilla">2'-OH</label>
              <br>
            <input type="radio" name = "r_twoprime" id="r_methyl" value="r_methyl" v-model="r_twoprime">
              <label for="r_methyl">2'-OMe</label>
              <br>
            <input type="radio" name = "r_twoprime" id="r_fluoro" value="r_fluoro" v-model="r_twoprime">
              <label for="r_fluoro">2'-Fluoro</label>
              <br>
           </p>

           <p>Thiophosphorylated: <input type="checkbox" id="r_thiophosphoryl" v-model="r_thiophosphoryl">
        
           <p><button v-on:click="get_repl_tls();">Get my TLS</button>
           &nbsp&nbsp&nbsp&nbsp
           <button v-on:click="get_replacement_length();">Check length</button><p>
           
           <p>Sequence with replacement is:</p>
           <p>{{ tls_replacement }}</p>
           <p>{{ tls_replacement_length }}</p>
           
      <h2>Additional modifications: insertion</h2>
      
          <p>Currently only single insertion is enabled</p>
          <p>Insert between <input v-model="pos1" placeholder="0">&nbsp&nbspand <input v-model="pos2" placeholder="0">
        
          &nbsp&nbspNucleotide: <select v-model="insertion_base">
              <option disabled value="">Please select one</option>
              <option>A</option>
              <option>C</option>
              <option>G</option>
              <option>U</option>
              <option>X</option>
          </select></p>

          <p>
            <input type="radio" name = "i_twoprime" id="i_vanilla" value="i_vanilla" v-model="i_twoprime">
              <label for="i_vanilla">2'-OH</label>
              <br>
            <input type="radio" name = "i_twoprime" id="i_methyl" value="i_methyl" v-model="i_twoprime">
              <label for="i_methyl">2'-OMe</label>
              <br>
            <input type="radio" name = "i_twoprime" id="i_fluoro" value="i_fluoro" v-model="i_twoprime">
              <label for="i_fluoro">2'-Fluoro</label>
              <br>
           </p>

           <p>Thiophosphorylated: <input type="checkbox" id="i_thiophosphoryl" v-model="i_thiophosphoryl">
        
           <p><button v-on:click="get_insertion_tls();">Get my TLS</button>
           &nbsp&nbsp&nbsp&nbsp
           <button v-on:click="get_insertion_length();">Check length</button></p>
           <p>Sequence with insertion is:</p>
           <p>{{ tls_insertion }}</p>
           <p>{{ tls_insertion_length }}</p>

    </div>
     <p style="font-size: 0.6em"><i>Version {{ version }} | Developed by Anastasia Kadina | Powered by <a href="http://sciris.org">Sciris</a></i></p>
  </div>
</div>
</body>

<!-- Define the functionality -->
<script>
  var vm = new Vue({
    el: '#app',

    data() {
      return {
        version: 'Version information unavailable',
        sequence: '',
        sequence_length: '',
        fiveend: 3,
        threeend: 3,
        tls: 'No TLS',
        r_twoprime: 'r_vanilla',
        r_thiophosphoryl: false,
        tls_replacement: '',
        tls_replacement_length: '',
        i_twoprime: 'i_vanilla',
        i_thiophosphoryl: false,
        tls_insertion: '',
        tls_insertion_length: '',
        insertion_base: '',
        replacement_pos: '',
        replacement_base: '',
        pos1: '',
        pos2: '',
      }
    },

    created () {
      sciris.rpc('get_version')
        .then(function (response) {
            vm.version = response.data
        })
    },
    
    methods: {

      get_tls: function () {
        console.log('get_tls() called');
        if (vm.sequence === '') {
          vm.sequence = 'Please enter a sequence'
        }
        sciris.rpc('get_tls', [vm.sequence, vm.fiveend, vm.threeend])
          .then(function (response) {
            vm.tls = response.data
        })
      },
      
      get_sequence_length: function () {
        sciris.rpc('get_sequence_length', [vm.sequence])
                .then(function (response) {
                  vm.sequence_length = response.data
                })
      },
      
      get_repl_tls: function () {
        sciris.rpc('get_repl_tls', [vm.tls, vm.replacement_pos, vm.replacement_base, vm.r_twoprime, vm.r_thiophosphoryl])
                .then(function (response) {
                  vm.tls_replacement = response.data
                })
      },
      
      get_replacement_length: function () {
        sciris.rpc('get_replacement_length', [vm.tls_replacement])
                .then(function (response) {
                  vm.tls_replacement_length = response.data
                })
      },
      
      get_insertion_tls: function () {
        sciris.rpc('get_insertion_tls', [vm.tls, vm.pos1, vm.pos2, vm.insertion_base, vm.i_twoprime, vm.i_thiophosphoryl])
                .then(function (response) {
                  vm.tls_insertion = response.data
                })
      },
      
      get_insertion_length: function () {
        sciris.rpc('get_insertion_length', [vm.tls_insertion])
                .then(function (response) {
                  vm.tls_insertion_length = response.data
                })
      },
    }
  })
</script>

</html>
